<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: head(~{}, ~{::link})">
    <link type="text/css" th:rel="stylesheet" th:href="@{/css/signin.css}">
    <script type="text/javascript" th:src="@{js/login.js}"></script>
</div>
<body class="text-center" style="background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612503158_16-p-serii-fon-s-dimom-17.jpg)">
<main class="form-signin">
    <form method="post" action="/auth/login">
        <img class="mb-4" th:src="@{/img/logo.jpeg}" alt="" width="258" height="228">
        <h1 class="h3 mb-3 fw-normal">Вход в личный кабинет</h1>

        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingInput">
            <label for="floatingInput">Логин</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword">
            <label for="floatingPassword">Пароль</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me"> Запомнить меня
            </label>
        </div>

        <div th:replace="fragments/alert"></div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    </form>

    <div class="form-group">
        <span>Новый пользователь? <a style="color: #1c1f23" href="/" th:href="@{/registration}">Зарегистрироваться</a></span>
    </div>

    <p class="mt-5 mb-3 text-muted">© 2021</p>

</main>
</body>
</html>