<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<table class="table">
    <thead class="table-secondary">
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Емкость аккумулятора (mAh)</th>
        <th scope="col">Производитель</th>
        <th scope="col">Дата выпуска</th>
        <th scope="col">Время зарядки (мин)</th>
        <th scope="col">Объем бака (мл)</th>
        <th scope="col">Доступное количество</th>
        <th scope="col">Операции</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pod : ${pods}" th:object="${pod}">
        <td th:text="*{name}"></td>
        <td th:text="*{battery}"></td>
        <td th:text="*{manufacturer}"></td>
        <td th:text="*{yearOfIssue}"></td>
        <td th:text="*{chargeTime}"></td>
        <td th:text="*{volume}"></td>
        <td th:text="*{availableCount}"></td>
        <td>
            <a th:href="@{references/pods/edit/(pid=*{pid})}" class="btn btn-warning editBtn">
                Изменить
            </a>
            <a th:href="@{references/pods/delete/(pid=*{pid})}" class="btn btn-danger deleteBtn">
                Удалить
            </a>
        </td>
    </tr>
    </tbody>
</table>
</html>